{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="google-site-verification" content="OWEHndv9xVexaePpkQnlle9pl858gNUCQOSKGJOica0" />
    <meta name="msvalidate.01" content="CA1EC19BA9E57339A51F49FEF38BEE6A" />
    <meta name="description" content="Activate and watch My5TV on your device. Visit my5.tv/activate to link your TV, catch up on Channel 5 shows, and stream top UK entertainment anytime." />
    <meta name="keywords" content="my5tv, my5.tv/activate, activate My5 TV, Channel 5 catch up, watch My5 online, My5 app setup" />
    <meta name="robots" content="index, follow" />
    <title>My5TV – Activate & Stream Channel 5 Shows at my5.tv/activate</title>
    {{ super() }}
{% endblock %}
